.Nav-container {
  display: grid;
  align-items: center;
  overflow: hidden;

}

.Nav-left {
  grid-column-start: 1;
  grid-column-end: 2;
}

.Nav-left>img {
  width: 150px;
  padding: 15px;
}

.Nav-right {
  grid-column-start: 9;
  grid-column-end: 12;
}

.nav-btn {
  margin: 10px;
  text-decoration: none;
  color: rgba(241, 233, 233, 0.774);
}

.nav-btn:hover {
  color: rgb(255, 255, 255);
}